:root {
    --main-bg-color: #DEF3EF;
    --werkvorm-bg: #1E1649;
    --font-color: #FFFFFF;
    --stage-color: #000000;
    --lights-bg-color: #F25379;

}


body {
   
    background-color: var(--main-bg-color);
    color: var(--font-color);
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

.frame-1{
    display: grid;
grid-template-columns: repeat(5, 1fr);
grid-template-rows: repeat(4, 1fr);

height: 100vh;
align-items: baseline;
}

nav{
   grid-area: 3/ 1/ 4/ 5;
   margin-left: auto;
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: 2rem;
   z-index: 1;
   
   
}
nav > h2{
    color: #000;
    
}


button > img{
    height: 3rem;
    
    
}
button{
    border: 0;
    border-radius: 10px;
    
    
    
    background-color: #D1963D;
    
}

.cloud-left, .cloud-right{
    height: 70vh;
}
.cloud-left{
    left: 0;
    top: 5rem;
    position: absolute;
}
.cloud-right{
    right: 0;
    position: absolute;
    top: 5rem;
}

.cloud{
    position: relative;
    top: 50px;
    width: 320px;
    height: 100px;
    background-color: #fff;
    border-radius: 100px;
}

.cloud::before{
    content: '';
    position:absolute;
    top: -50px;
    left: 40px;
    width: 110px;
    height: 110px;
    background: #FFF;
    border-radius: 50%;
    box-shadow: 90px 0 0 30px #fff;
}

.rain{
    position: relative;
    display: flex;
    z-index: 1;
}
.rain span{
    position: relative;
    width: 10px;
    height: 10px;
    bottom: 10px;
    background-color: blue;
    margin: 0 2px;
    border-radius: 50%;
    animation: raining 5s linear infinite ;
    transform-origin: bottom;
}

.rain span:nth-child(odd) {
    animation-duration: calc(5s / var(--i));
}

.rain span:nth-child(even) {
    animation-duration: calc(7s / var(--i));
}

@keyframes raining{
    0%{
        transform: translateY(0) scale(1);
    }
    70%{
        transform: translateY(80vh) scale(1);
    }
    100%{
        transform: translateY(80vh) scale(0);
    }
}

/* tree */

/* .tree{
    grid-area: 3 / 2 / 5 / 5;
    position: relative;
    bottom: 0;
} */
/* ladder */
.ladder-hole {
    width: 20rem;
    height: 5rem;
    position: relative;
    left: 50rem;
    background-color: #000000;
    border-radius: 50%;
    z-index: 0;
    display: flex;
    align-self: center;
    grid-area: 4 / 1 / 5 / 5;
}

.ladder {
    width: 10rem;
    top: 1rem;
    height: 1rem;
    left: 5rem;
    position: relative  ;
    background-color: #D1963D; 
   
}

.ladder::before,
.ladder::after {
    content: '';
    width: 10px; 
    height: 10rem;
    background-color: #D1963D; 
    position: absolute;
    top: -6.5rem;
}

.ladder::before {
    left: 0; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.ladder::after {
    right: 0; 
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

/* human */
.human{
    bottom: 5rem;
    position: relative;
    grid-area: 4 / 3 / 4 / 6;
}
/* Head */
.head {
    width: 50px;
    height: 50px;
    background-color: #000;
    border-radius: 50%;
    position: relative;
    bottom:2.5rem;
    left: -1rem;
}



/* Body */
.body {
    width: 3rem;
    height: 80px;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    background-color: #000;
    position: relative;
    margin: 20px auto;
}

/* Arms */
.arm {
    width: 1rem;
    height: 3rem;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    background-color: #000;
    position: absolute;
}

.left-arm {
    transform: rotate(45deg);
    left: -15px;
    top: 15px;
}

.right-arm {
    transform: rotate(-45deg);
    left: 45px;
    top: 15px;
}

/* Legs */
.leg {
    width: 1rem;
    height: 40px;
    background-color: #000;
    position: absolute;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
}

.left-leg {
   
 
    top: 80px;
}

.right-leg {
 
    left: 32px;
    top: 80px;
}
/* grass */
.grass{
    width: 100vw;
    height: 20vh;
    background-color: green;
    grid-area: 4/1/5/5;
   
    
}

.human.jump-down {
    animation: jump-down 5s ;
  }
  
  @keyframes jump-down {
    0% {
      transform: translateY(.5rem);
    }
    10%{
        transform: translateY(-10rem);
    }
    50%{
        transform: translateX(-20rem);
    }
    
    100% {
      transform: translateY(-10rem); /* Adjust the value based on how far you want to move */
    }
  }